In [2]:
import pandas as pd
import numpy as np

In [3]:

df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie']
})

df2 = pd.DataFrame({
    'id': [2, 3, 4],
    'score': [90, 85, 88]
})

In [4]:
df1

   id     name
0   1    Alice
1   2      Bob
2   3  Charlie

In [5]:
df2

   id  score
0   2     90
1   3     85
2   4     88