In [1]:
import numpy as np
import pandas as pd

### Series : 
#### series is one-dimensional array-like data structure

In [2]:
a = ["india", "ausis", 'japan', 'ireland', 'USA']

In [3]:
ser = pd.Series(a)

In [11]:
ser.index = list('abcde')

In [14]:
ser['a']

'india'

In [15]:
ser

a      india
b      ausis
c      japan
d    ireland
e        USA
dtype: object

In [16]:
b = [1,2,3,4]
np.array(b)

array([1, 2, 3, 4])

In [26]:
ser.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

### DataFrame

#### it has two dim. row, and column

In [17]:
data = {
    'name' : ["Rahul", "Sakshi", "Amit", "Dhruv", "Dhruvi"],
    "roles" : ["IT", "IT", "HR", "finance", "HR"],
    "salary" : [100, 200, 150, 120, 400]
}

In [18]:
data

{'name': ['Rahul', 'Sakshi', 'Amit', 'Dhruv', 'Dhruvi'],
 'roles': ['IT', 'IT', 'HR', 'finance', 'HR'],
 'salary': [100, 200, 150, 120, 400]}

In [24]:
df = pd.DataFrame(data, index=list('abcde'))
df

     name    roles  salary
a   Rahul       IT     100
b  Sakshi       IT     200
c    Amit       HR     150
d   Dhruv  finance     120
e  Dhruvi       HR     400

In [20]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')