In [4]:
import pandas as pd
import numpy as np

In [19]:
date_rng = pd.date_range('2025-4-1', '2025-4-10', freq='D')

In [20]:
date_rng

DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-05', '2025-04-06', '2025-04-07', '2025-04-08',
               '2025-04-09', '2025-04-10'],
              dtype='datetime64[ns]', freq='D')

In [21]:
df = pd.DataFrame(date_rng, columns=['date'])

In [25]:
df['sales'] = np.random.randint(50, 100, len(date_rng))

In [28]:
df['date'].dtype

dtype('<M8[ns]')

In [30]:
df['date'] = pd.to_datetime(df['date'])

In [42]:
df.set_index('date', inplace=True)

In [43]:
df

            sales
date
2025-04-01     60
2025-04-02     84
2025-04-03     92
2025-04-04     74
2025-04-05     92
2025-04-06     73
2025-04-07     81
2025-04-08     50
2025-04-09     97
2025-04-10     87

In [48]:
df['year'] = df.index.year
df['month'] = df.index.month
df['date'] = df.index.day

In [49]:
df

            sales  year  month  date
date
2025-04-01     60  2025      4     1
2025-04-02     84  2025      4     2
2025-04-03     92  2025      4     3
2025-04-04     74  2025      4     4
2025-04-05     92  2025      4     5
2025-04-06     73  2025      4     6
2025-04-07     81  2025      4     7
2025-04-08     50  2025      4     8
2025-04-09     97  2025      4     9
2025-04-10     87  2025      4    10

In [ ]:
# rolling